<% layout('/layouts/boilerplate') -%>
<body>
    <h3>All Listings</h3>
    <form method="GET" action="/listing/new">
        <button>Add new Listing</button>
    </form>
   
    <ul>
    <% for(let listing of allListing){ %>
         <h5><a href="/listing/<%=listing._id%>"><li><%= listing.title%></li></a></h5>
   <% }%>
</ul>
</body>

