<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
</head>
<body>
    <h3>Add details for place...</h3>
    <form method="POST" action="/listing">
        <br>
        <input type="text" name="listing[title]" placeholder="Enter title">
        <br><br>
        <input type="text" name="listing[description]" placeholder="Enter description">
        <br><br>
        <input type="text" name="listing[image]" placeholder="Enter image URL/link">
        <br><br>
        <input type="number" name="listing[price]" placeholder="price">
        <br><br>
        <input type="text" name="listing[country]" placeholder="country">
        <br><br>
        <input type="text" name="listing[location]" placeholder="location ">
        <br><br>
        <button>Save</button>
    </form>
    
</body>
</html>